@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

/* font-weights 400, 700, 800 */
/* font-size: 15px - 16px */

:root {
    --softOrange: hsl(35, 77%, 62%);
    --softRed: hsl(5, 85%, 63%);
    --offWhite: hsl (36, 100%, 99%);
    --grayishBlue: hsl(233, 8%, 79%);
    --darkGrayishBlue: hsl(236, 13%, 42%);
    --veryDarkBlue: hsl(240, 100%, 5%);
}

#read-btn{
    background-color: var(--softRed);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#read-btn:hover{
    background-color: var(--veryDarkBlue);
}

.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.side-title {
    color: var(--softOrange);
}

.side-heading-text {
    color: var(--grayishBlue);
    font-size: 14px;
}

.img-num {
    color: var(--grayishBlue);
}

.link:hover{
    color: var(--softRed);
    cursor: pointer;
}

.side-menu-link:hover{
    color: var(--softOrange);
    cursor: pointer;
}

